<script setup lang="ts">

import {Button} from "@/components/ui/button";
import {Toaster} from '@/components/ui/sonner'
import {toast} from "vue-sonner";

</script>

<template>
    <h1 class="h-full w-full flex gap-5 items-center justify-center text-6xl text-red-700">
        <span>Hello World!</span>
        <Button
            @click="()=>toast.success('Project setup was successful!')"
        >
            Click me...
        </Button>
        <Toaster position="bottom-right"/>
    </h1>
</template>

<style scoped></style>
