<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
    <div class="h-screen w-screen">
        <HelloWorld/>
    </div>
</template>

<style scoped>

</style>
